In [22]:
a ="432"

In [2]:
a.find("2")

In [3]:
b = "312"

In [24]:
c = []
for i in range(0,len(b),1):
    if b[i] in a:
        c.insert(len(c),b.find(b[i]))

In [25]:
c

[0, 2]

In [34]:
str = 'ade'
lista = list(str)
print(lista)

['a', 'd', 'e']

In [27]:
list2[2]

'c'

In [28]:
len(list2)

5

In [35]:
str3 = "ac"
listb = list(str3)

In [30]:
list3[0] in list2

True

In [36]:
for i in range(0,len(lista),1):
    if lista[i] in listb:
        print(lista[i])

a

In [20]:
lista

['b', 'd', 'e']

In [170]:
a = "aaaa"
b = "aaaa"

In [173]:
def is_valid_word(word, tiles):
    see = 0
    word = list(word)
    tiles = list(tiles)
    for i in range(0,len(word),1):
        for j in range(0,len(tiles),1):
            if (tiles[j] ==0) :
                continue
            if (word[i] == tiles[j]):
                see = see + 1
                tiles[j] = "0"
                break

    if (see == len(word)):
        return True
    else:
        return False

In [174]:
is_valid_word(a,b)

True

In [59]:
c = ['a', 'b', 'c']

In [60]:
c.pop(0)

'a'

In [222]:
swap_head_and_tail(c)

(1, 1, ('2', '3', '4'))

In [228]:
def swap_head_and_tail(a_tuple):
    if a_tuple==():
        return ()
    a_list = list(a_tuple)
    res = a_list[0]
    a_list[0] = a_list[-1]
    a_list[-1] = res
    return tuple(a_list)

In [189]:
c =  (('2', '3', '4'),1, 1)

In [223]:
c = list(c)

In [226]:
res = c[0]

In [227]:
res

('2', '3', '4')

In [179]:
c[0]

('2', '3', '4')

In [180]:
res = c [0]

In [181]:
res

('2', '3', '4')

In [193]:
c[1:1]

()

In [197]:
b = ('four', 2.0 , 3, '1')

In [201]:
s = b[1:-1]

In [202]:
s

(2.0, 3)

In [203]:
s = (s)

In [204]:
s

(2.0, 3)

In [215]:
s = (b[-1],b[1:-1],b[0])

In [216]:
s

('1', (2.0, 3), 'four')

In [230]:
Given a list nums and a value val, remove all instances of that value in-place and return the new length of nums list.

Do not allocate extra space for another list, you must do this by modifying the input list in-place with O(1) extra memory.
nums = [3,2,2,3]
print(remove_element(nums,3),nums)
2 [2, 2]

In [ ]:
def remove_element(nums,val):

In [266]:
nums = [3,2,2,3,3,3,3,3,3,2,1,2,3,2,1,2]

In [257]:
nums.remove(3)

In [267]:
nums

[3, 2, 2, 3, 3, 3, 3, 3, 3, 2, 1, 2, 3, 2, 1, 2]

In [268]:
def remove_element(nums,val):
    num = 0
    for i in range(0,len(nums),1):
        if nums[i] == val:
            num = num + 1

    for i in range(0,num,1):
        nums.remove(val)
    return num

In [269]:
remove_element(nums,3)

8